html,body{ margin:0; padding:0; width:100%; height:100% }
a:link{color: #212529;}

#header{
     margin: 0.5rem 0; 
    
}
#header .header-logo{
    display: flex;
    justify-content: center;
}

/* CONTENT */
#content{
    background-image: url(../image/KakaoTalk_20210624_141504799.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100%;
}

.content-box-group{
    margin-top: 5%;
}
.fun-fact {
	background-color: #fff;
    opacity: 85%;
    cursor: pointer;
	border-radius: 4px;
	font-size: 14px;
	line-height: 2rem;
	padding: 40px;
	margin-bottom: 20px;
}
.content-box .fun-fact:hover{
    opacity: 100%;
    transition: 0.5s;
    background-color: #fff;
}
.fun-fact-content {
	margin-top: 20px;
}
.fun-fact h1{
    font-size: 30px;
    color: #3d464d;
    margin: 10px 0 0;
}
.fun-fact span {
	font-size: 16px;
	color: #3d464d;
	margin: 10px 0;
	display: block;
}
.content-text{
    color: white;
    font-size: 2rem;
    line-height: 1.5;
    margin-top: 20%;
}
.content-text p{
    margin-top: 5px;
    line-height: 1.2;
    font-size: 1.3rem;
}

/* FOOTER */
.footer{
    margin-top: auto;
    padding: 2% 0;
    line-height: 1.5em;
}
.footer-logo {
    margin-top: 15px;
}
.footer-list{
    font-size: 13px; 
    padding-left: 5%;
}
.footer-list a {
    margin-right: 15px;
}